<!-- <%- include('partials/header') -%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cocina</title>
    <main class="container">
        <div class="row justify-content-around mt-5">
            <ul>
                <a href="/login" class="col-3 btn btn-primary"> Login</a>
                <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
            </ul>
        </div>
    </main>
</head>
<body>
    <section class="content">
        <div class="content-section">
            <h1>Honoring our heritage through the lens of cuisine</h1>
            <p>Welcome to Cocina, a site dedicated to preserving the cherished recipes passed down through generations of family and friends. Here, we celebrate the flavors and stories that connect us to our roots, ensuring that these beloved dishes continue to be shared and enjoyed for years to come.</p>
        </div>    
        </section>
    <section class="box-2">
        <img src="/imgs/pupusas.jpg" alt="pupusas image" style="width:600px;height:600px;">
    </section>
</body>
</html>

<%- include('partials/footer') -%> -->


<%- include('partials/header') -%>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  
  <!-- <title>Your Page</title> -->
</head>
<body>
    <section class="content">
    <div class="content-section">
      <h2>Honoring our heritage through the lens of cuisine</h2>
      <p>Welcome to Cocina, a site dedicated to preserving the cherished recipes passed down through generations of family and friends. Here, we celebrate the flavors and stories that connect us to our roots, ensuring that these beloved dishes continue to be shared and enjoyed for years to come.</p>
    </div>
    <div class="content-section">
      <!-- <h2>Section 2</h2> -->
      <img src="/imgs/pupusas.jpg" alt="pupusas image" style="width:400px;height:400px;">
    </div>
  </section>

</body>
</html>


<%- include('partials/footer') -%>